<mat-toolbar color="primary">
  <span>App shell</span>
  <span class="example-spacer"></span>
  Login as: {{ appService.loggedUser?.username }}
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="logout()"
    color="warn"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<ktd-grid
  [cols]="cols"
  [layout]="layout"
  [gap]="16"
  [compactType]="'horizontal'"
  class="container"
>
  <ktd-grid-item *ngFor="let item of layout; trackBy: trackById" [id]="item.id" class="widget">

    <ng-container *ngIf="getLoader(item.id) as loader">
      <h1>{{ loader.title }}</h1>
      <hr>
      <ng-container [ngSwitch]="loader.framework">
        <app-react-wrapper
          *ngSwitchCase="'react'"
          [component]="loader.component"
        ></app-react-wrapper>
        <app-vue-wrapper
          *ngSwitchCase="'vue'"
          [component]="loader.component"
        ></app-vue-wrapper>
        <app-angular-wrapper
          *ngSwitchDefault
          [component]="loader.component"
        ></app-angular-wrapper>
      </ng-container>
    </ng-container>

    <!-- Optional Custom placeholder template -->
    <ng-template ktdGridItemPlaceholder>
      <!-- Custom placeholder content goes here -->
    </ng-template>
  </ktd-grid-item>
</ktd-grid>
